{% extends 'layout.html' %}

{% block body %}

{% if session['user'] %}
    <h3 style="text-align:center">Welcome back, {{session['user']}}!</h3><br>
    <h3 style="text-align:center">Click <a href="/mycities">here</a> to view your saved cities, and start saving more!</h3><br>
{% endif %}

<section class="section" style="text-align:center">
    <img src="/static/images/storm.gif" alt="storm" style="width:7%;height:auto;">
    <img src="/static/images/sunrise.gif" alt="storm" style="width:7%;height:auto;">
    <img src="/static/images/hot.gif" alt="storm" style="width:7%;height:auto;">
    <img src="/static/images/wind.gif" alt="storm" style="width:7%;height:auto;">

</section>



<h3 style="text-align:center">Just type in a location, and get current weather data!</h3><br>


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST" class="add">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="city" type="text" placeholder="City, (Optional) State">
                        </div>
                        <div class="control">
                            <button class="button is-info" style="background-color:rgb(101, 208, 241)">
                                Check Weather
                            </button>
                        </div>
                    </div>
                </form>
                <p style="font-size:smaller; font-style:italic; color:grey">ex. Madison, Wisconsin; Tokyo; Shanghai
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in city_weather_data%}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    {% if weather.state %}
                                    {% if weather.country_trans != weather.country %}
                                    <span class="title">{{ weather.city }}, {{weather.state}}, {{weather.country}}
                                        ({{weather.country_trans}})</span>
                                    {% else %}
                                    <span class="title">{{ weather.city }}, {{weather.state}},
                                        {{weather.country}}</span>
                                    {% endif %}
                                    {% else %}
                                    {% if weather.country_trans != weather.country %}
                                    <span class="title">{{ weather.city }}, {{weather.country}}
                                        ({{weather.country_trans}})</span>
                                    {% else %}
                                    <span class="title">{{ weather.city }}, {{weather.country}}</span>
                                    {% endif %}
                                    {% endif %}
                                    <br>
                                    <span> {{ weather.temperature }}° F</span>
                                    <span style="font-size:x-small">(Feels like {{
                                        weather.feels_like }}° F)</span>
                                    <br> {{ weather.description }}
                                </p>
                                <!-- Create a drop down menu that provides the wind speed of the city -->

                                <p>
                                    <span class="subtitle">Humidity: {{ weather.humidity }}%</span><br>
                                    <span class="subtitle">Wind Speed: {{ weather.wind_speed }} mph</span><br>
                                    <span class="subtitle">Cloudiness: {{ weather.clouds }}%</span><br>
                                    <span id="dots">...</span>
                                    <span id="more">
                                        <span class="subtitle">Wind Direction: {{ weather.wind_deg }}°</span><br>

                                        <span class="subtitle">Atmospheric pressure: {{ weather.pressure }} <a
                                                href="http://www.environmentdata.org/archive/vocabpref:20711#:~:text=Hectopascal%20is%20a%20100x%20multiple,1%20Hectopascal%20equals%20100%20Pascals.">hPa</a></span>
                                        <br>
                                        <span class="subtitle">Sunrise: {{ weather.sunrise }} UTC</span><br>
                                        <span class="subtitle">Sunset: {{ weather.sunset }} UTC</span><br>



                                    </span>

                                </p>
                                <button onclick="myFunction()" id="myBtn">Show More</button>
                                <script>
                                    function myFunction() {
                                        var dots = document.getElementById("dots");
                                        var moreText = document.getElementById("more");
                                        var btnText = document.getElementById("myBtn");

                                        if (dots.style.display === "none") {
                                            dots.style.display = "inline";
                                            btnText.innerHTML = "Read more";
                                            moreText.style.display = "none";
                                        } else {
                                            dots.style.display = "none";
                                            btnText.innerHTML = "Read less";
                                            moreText.style.display = "inline";
                                        }
                                    }
                                </script>

                            </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}